# Python
**/__pycache__/
**/*.py[cod]
*.sqlite3

# Virtual environment
squadpicks_backend/venv/

# Env files
squadpicks_backend/.env

# VSCode
.vscode/

# Node (for frontend)
squadpicks_frontend/node_modules/
